*{
    cursor:url("./assets/cursor-svg.svg"), pointer;
}

body{
    margin:0;
    padding:0;
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

img.no-search {
    pointer-events: none;
}

.box:hover{
    fill: #433A78;
    stroke: #A49DD4;
}